name: Commit
on: 
  push:
  pull_request:
env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true  
jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build solution
      run: dotnet build -c Release
    - name: Run tests
      run: dotnet test -c Release --no-build --verbosity normal
    - name: Fetch nuget packages
      run: |
        mkdir -p nuget
        Get-ChildItem -Path src -Recurse -Filter "*.nupkg" | Copy-Item -Destination nuget
        Get-ChildItem -Path src -Recurse -Filter "*.snupkg" | Copy-Item -Destination nuget
    - name: Upload nuget packages as artifacts
      uses: actions/upload-artifact@v4
      with:
        name: NuGet
        path: nuget
        if-no-files-found: error